*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
  margin: 0;
  padding: 0;
  background: #232323;
  /* make it look decent enough */
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
}
.nav{
    position: fixed;
    width:100%;
    z-index: 2;
    padding: 0;
    justify-content: center;
    background: rgba(124, 124, 124, 0.76);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.541);
    height: 6rem;
    padding: 0;
    display: flex;
    z-index: 100000; 
    transition: 0.6s;
    align-self: center;
}
.content{
    min-height: calc(100vh - 21vh);
    padding-top: 80px;
}


#menuToggle {
    display: flex;
    margin-bottom: auto;
    margin-top: auto;
}

#menu{
    display: flex;
}
#menu li{
    list-style: none;
    margin-left: 1rem;

}
#menu li a{
    text-decoration: none;
    color: #fff;

}

section{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 85%;
    padding-bottom: 10%;
    position: relative;
}
.up-section{
    top: 3rem;
}
section div {
    width: 100%;
}
.up-section div img {
    max-width: 100%;
}
.up-section .text {
    padding-right: 10%;
}
.text {
    display: flex;
    flex-direction: column;
}
input[type="checkbox"] {
    visibility: hidden;
}
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 21vh;
    padding: 10px 0;
    color: #f0f9ff;
    background-color: #282d32;
}

.footer-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.footer-row {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1.5%;
}
@media screen and (max-width: 990px){
    input[type="checkbox"] {
        visibility: visible;
    }
    .nav-bar{
        background: #006CA1;
        

    }
    .nav {
        justify-content: left;
        position: fixed;
        width: 100%;
        z-index: 2;
        padding: 0;
    }
    #menu {
       display: flex;
       flex-direction: column;
    }
    #menuToggle{
        display: block;
        position: relative;
        left: 50px;
        
        z-index: 1;
    
    -webkit-user-select: none;
    user-select: none;
    }


    #menuToggle li a{
    text-decoration: none;
    color: #232323;
    
    transition: color 0.3s ease;
    }

    #menuToggle a:hover{
    color: #006CA1;
    }
    #menuToggle input{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    
    cursor: pointer;
    
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    
    -webkit-touch-callout: none;
    }

    /*
    * Just a quick hamburger
    */
    #menuToggle span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    
    background: #cdcdcd;
    border-radius: 3px;
    
    z-index: 1;
    
    transform-origin: 4px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
    }

    #menuToggle span:first-child{
    transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2){
    transform-origin: 0% 100%;
    }

    /* 
    * Transform all the slices of hamburger
    * into a crossmark.
    */
    #menuToggle input:checked ~ span{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
    }

    /*
    * But let's hide the middle one.
    */
    #menuToggle input:checked ~ span:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
    }

    /*
    * Ohyeah and the last one should go the other direction
    */
    #menuToggle input:checked ~ span:nth-last-child(2){
    transform: rotate(-45deg) translate(0, -1px);
    }

    /*
    * Make this absolute positioned
    * at the top left of the screen
    */
    #menu{
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    #menu li{
    padding: 10px 0;
    font-size: 22px;
    }

    /*
    * And let's slide it in from the left
    */
    #menuToggle input:checked ~ ul{
    transform: none;
    }

    .up-section img{
        max-width: 100%;
    }
    .footer-row{
        flex-direction: column;
    }
        

}